@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* 
#102E4A prussian blue
#D64933 cinnabar (orange/red)
#0C7C59 spanish viridian green
#58A4B0 cadet blue (light blue)
#BAC1B8 Ash gray
#071013 black
#E6E8E6 white 
#d6d6d6 other gray*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(
		to bottom,
		#102e4a,
		#071013 25%,
		#102e4a 90%
	);
	background-repeat: repeat-y;
	background-size: contain;
	height: 100vh;
	font-family: "Montserrat", "Open Sans", "Roboto", "Helvetica Neue", sans-serif;
	font-size: 16px;
	color: #e6e8e6;
	overflow: auto;
	margin: 0;
}

h2 {
	width: 65%;
	text-align: center;
	margin: 0 auto;
	border-bottom: 2px solid #e6e8e6;
	font-size: 2.5em;
	padding-top: 10px;
}

hr {
	width: 65%;
}

body > footer {
	position: sticky;
	top: 100vh;
}

footer {
	background-color: #071013;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

footer a {
	text-decoration: none;
}

footer a img {
	max-width: 30px;
}

/************************               Navbar styles                **************************/

.bg-dark,
.nav-link,
.navbar-brand,
.dropdown,
.dropdown-menu,
.dropdown-item {
	font-family: "Open Sans", "Roboto", "Helvetica Neue", sans-serif !important;
	background-color: #071013 !important;
	color: #e6e8e6 !important;
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0.125rem;
}

.navbar-collapse {
	margin-top: 5px;
}

.navbar {
	position: sticky !important;
	top: 0;
	width: 100%;
}


/************************               Home page styles                **************************/

.home-layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.home-chunk {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	color: #e6e8e6;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.home-chunk img {
	width: 100%;
}

.Title-name {
	position: relative;
	text-align: center;
	padding: 15px;
	border: 5px;
	font-size: 3.5em;
}

.short-bio {
	position: relative;
	text-align: center;
	padding: 5px;
	border: 5px;
}

.home-description {
	padding: 30px;
	text-align: center;
	text-justify: center;
}

/************************               Portfolio page styles                **************************/

.project {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.project-title {
	padding-top: 40px;
	font-size: 1.5em;
}

.project-description {
	padding-top: 20px;
	color: #acacac;
}

.image {
	width: 100%;
	max-width: 390;
	border-radius: 5px;
}

/************************               Stocks page styles                **************************/

.chart {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: center;
	align-self: center;
	position: relative;
	width: 85vw;
}

.tickerForm,
.assetChoice {
	display: flex;
	align-self: center;
	justify-self: center;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 6vh;
	padding: 11px;
}

.tickerForm {
	margin-bottom: 10vh;
}

label {
	padding-right: 10px;
}

select {
	background-color: #79797944;
	color: #e6e8e6;
	border-color: #79797944;
	width: 30vw;
	text-align: center;
	border-radius: 5px;
}

#tickerInput {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.125em;
	border: 1.5px solid #292f36;
	border-right: none;
	height: 3vh;
	width: 100%;
	text-indent: 7px;
	background-color: #79797944;
	color: #e6e8e6;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

::placeholder {
	color: #e6e8e6;
}

#tickerSubmit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6%;
	border: 1.5px solid #292f36;
	border-left: none;
	cursor: pointer;
	background-color: #79797944;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px;
	padding-right: none;
	padding-left: none;
	height: 3vh;
}

#tickerSubmit img {
	height: 40px;
	object-fit: cover;
	padding: 10px;
}

/************************               Contact page styles                **************************/

.contact-methods {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-content: space-around;
	justify-content: space-around;
	
}

.prefmethod {
	display: flex;
	margin-top: 30%;
	width: 90%;
	align-self: center;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.prefmethod a {
	text-decoration: none;
	color: #58a4b0;
}

.methods {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 20px;
	align-content: center;
	justify-content: center;
	background-color: #e6e8e6;
	margin-bottom: 10vh;
}

.methods a {
	align-self: center;
	justify-self: center;
}

.methods img {
	max-width: 60px;
	align-content: center;
	justify-content: center;
}

/************************               About page styles                **************************/

.about-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	justify-content: center;
	align-self: center;
	align-items: center;
	padding: 10px;
}

.about-container p {
	padding-top: 20px;
	width: 100%;
}

.about-container img {
	display: flex;
	max-height: 360px;
	max-width: 360px;
}

/* .customheader {
	margin-top: 7vh;
} */

/************************               Media Queries                **************************/

@media (min-width: 768px) {
	.home-chunk {
		display: flex;
		color: #e6e8e6;
		align-items: center;
		justify-content: center;
		object-fit: cover;
		padding: 5px;
	}

	.home-chunk img {
		width: 75%;
	}

	.about-container img {
		max-height: 360px;
		max-width: 360px;
	}

	.project {
		width: 65%;
	}

	.image {
		height: 360px;
		object-fit: contain;
	}

	.prefmethod {
		margin-top: 10%;
	}

	.methods {
		width: 100vw;
	}

	.tickerForm,
	.assetChoice {
		display: flex;
		align-self: center;
		justify-content: center;
		align-items: center;
		width: 90%;
		height: 10vh;
		padding: 10px;
		margin-bottom: 3px;
	}

	.tickerInput {
		width: 100%;
	}
	

	select {
		width: 12vw;
	}

	.chart {
		margin-top: 60px;
		width: 50vw;
		height: 40vh;
	}

	#stockChart {
		position: relative;
		width: 70vh !important;
		height: 45vh !important;
	}
}

/* @media (min-width: 1140px) {
	.tickerForm,
	.assetChoice {
		width: 90%;
		height: 10vh;
		padding: 10px;
		margin-bottom: 6px;
	}

	#tickerInput {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 1.125em;
		border: 1.5px solid #292f36;
		border-right: none;
		height: 3vh;
		width: 100%;
		text-indent: 7px;
		background-color: #79797944;
		color: #e6e8e6;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	#tickerSubmit {
		
		height: 3vh;
	}
} */

/* 
#3772FF  blue
#080708  black
#DF2935  red
#FDCA40  yellow
#E6E8E6  white */
